<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="/static/styles/styles.css">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>AI resume generator</title>
</head>
<style>
    h1{
        font-family: "Source Code Pro", monospace;
    }
</style>
<body>
    <main>
        <h1>Airesume</h1>
        <p>Use this tool to create your resume.</p>
    </main>
    <footer>
        <p>Copyright 2025 | Caleb's Dev Shack</p>
    </footer>
</body>
</html>